openapi: 3.0.3
info:
  title: Penalty Payment API
  description: An API for retrieving penalties from the E5 finance system and recording
    / viewing penalty payments
  version: 1.5.0
servers:
  - url: https://api.companieshouse.gov.uk/
tags:
  - name: Healthcheck
  - name: Penalties
  - name: Payment
paths:
  /penalty-payment-api/healthcheck:
    get:
      tags:
        - Healthcheck
      description: Check the health of the Penalty Payment API
      operationId: healthcheck
      responses:
        "200":
          description: Healthy
  /penalty-payment-api/healthcheck/finance-system:
    get:
      tags:
        - Healthcheck
      description: Check the health of the Finance System
      operationId: healthcheck-finance-system
      responses:
        "200":
          description: Healthy
        "503":
          description: Service unavailable
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ServiceUnavailable'
  /penalty-payment-api/penalty-reference-types:
    get:
      tags:
        - Penalty Reference Types
      description: Get a list of Penalty reference types
      operationId: get-penalty-ref-types
      responses:
        "200":
          description: A list of penalty reference types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PenaltyReferenceType'
        "500":
          description: There was a problem accessing configuration data
  /penalty-payment-api/configuration:
    get:
      tags:
        - Penalty Configuration
      description: Returns configuration data based on the provided query parameter `type`
      operationId: get-penalty-configuration
      parameters:
        - name: type
          in: query
          required: true
          description: The type of configuration to retrieve
          schema:
            type: string
            enum:
              - penaltyTypesConfig
              - payablePenaltiesConfig
      responses:
        "200":
          description: Configuration data for the requested type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        "400":
          description: Bad request - Invalid input
        "500":
          description: There was a problem handling your request
  /company/{company_number}/penalties/late-filing:
    get:
      tags:
        - Penalties
      description: List the penalties for a company. This passes through the transactions from E5 and will be
        cached in the account_penalties MongoDB collection.
        (Deprecated since 03 Feb 2025 - currently used by LFP Appeals)
      operationId: get-penalties-legacy
      deprecated: true
      parameters:
        - name: company_number
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A list of payable transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialPenalties'
        "400":
          description: Bad request - Invalid input
        "404":
          description: The company does not exist
        "500":
          description: There was a problem communicating with the finance backend
  /company/{customer_code}/penalties/{penalty_reference_type}:
    get:
      tags:
        - Penalties
      description: List the financial penalties for a customer with a payable status
        to indicate the current state of the payable transaction from E5 and will be
        cached in the account_penalties MongoDB collection.
      operationId: get-penalties
      parameters:
        - name: customer_code
          in: path
          required: true
          schema:
            type: string
        - name: penalty_reference_type
          in: path
          required: true
          schema:
            type: string
            enum:
              - LATE_FILING
              - SANCTIONS
              - SANCTIONS_ROE
      responses:
        "200":
          description: A list of payable transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialPenalties'
        "400":
          description: Bad request - Invalid input
        "404":
          description: The customer does not exist
        "500":
          description: There was a problem communicating with the finance backend
  /company/{customer_code}/penalties/payable:
    post:
      tags:
        - Payment
      description: Create a new payable resource with one or more penalty transactions
        to pay for
      operationId: create-payable
      parameters:
        - name: customer_code
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/FinancialPenaltySession'
        required: true
      responses:
        "201":
          description: The created payable resource id (payable_ref) and links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayableFinancialPenaltySession'
        "400":
          description: Bad request - Invalid input
        "500":
          description: There was a problem handling your request
  /company/{customer_code}/penalties/payable/{payable_ref}:
    get:
      tags:
        - Payment
      description: The payable resource that includes a number of transactions relating
        to penalties
      operationId: get-payable
      parameters:
        - name: customer_code
          in: path
          required: true
          schema:
            type: string
        - name: payable_ref
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A representation of the full financial penalties payable resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayableFinancialPenalties'
        "500":
          description: The payable resource is not present in the request context
  /company/{customer_code}/penalties/payable/{payable_ref}/payment:
    get:
      tags:
        - Payment
      description: List the payment details resource related to the penalty resource
      operationId: get-payment-details
      parameters:
        - name: customer_code
          in: path
          required: true
          schema:
            type: string
        - name: payable_ref
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The payment details resource read by the payment api
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/PaymentDetails'
        "400":
          description: Bad request - Invalid input
        "404":
          description: Payable resource does not exist or has insufficient data
        "500":
          description: Payable resource does not exist or has insufficient data
    patch:
      tags:
        - Payment
      description: Mark this resource as paid. This will also mark the transactions
        as paid in E5
      operationId: mark-as-paid
      parameters:
        - name: customer_code
          in: path
          required: true
          schema:
            type: string
        - name: payable_ref
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/PatchResourceRequest'
        required: true
      responses:
        "204":
          description: The Penalty payable resource has successfully been marked as
            paid
components:
  schemas:
    ServiceUnavailable:
      type: object
      properties:
        message:
          type: string
          example: UNHEALTHY - PLANNED MAINTENANCE
        maintenance_end_time:
          type: string
          format: date-time
    CreatedBy:
      type: object
      properties:
        id:
          type: string
        forename:
          type: string
        surname:
          type: string
        email:
          type: string
          format: email
    PatchResourceRequest:
      type: object
      properties:
        payment_reference:
          type: string
    PayableFinancialPenalties:
      type: object
      properties:
        customer_code:
          type: string
        payable_ref:
          type: string
        etag:
          type: string
        created_by:
          $ref: '#/components/schemas/CreatedBy'
        created_at:
          type: string
          format: date-time
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
            payment:
              type: string
              format: uri
            resume_journey_uri:
              type: string
              format: uri
        transactions:
          type: array
          items:
            type: object
            properties:
              penalty_ref:
                type: string
              amount:
                type: number
                format: float
              type:
                type: string
                example: penalty
              made_up_date:
                type: string
                format: date
              reason:
                type: string
                enum:
                  - Late filing of accounts
                  - Failure to file a confirmation statement
                  - Penalty
        payment:
          type: object
          properties:
            is_paid:
              type: boolean
            paid_at:
              type: string
              format: date-time
            reference:
              type: string
    FinancialPenaltySession:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
    Transaction:
      type: object
      properties:
        penalty_ref:
          type: string
        amount:
          type: number
          format: float
    PayableFinancialPenaltySession:
      type: object
      properties:
        payable_ref:
          type: string
        links:
          type: object
          properties:
            self:
              type: string
              format: uri
    FinancialPenalties:
      type: object
      properties:
        etag:
          type: string
        items_per_page:
          type: integer
        start_index:
          type: integer
        total_results:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/FinancialPenalty'
    FinancialPenalty:
      type: object
      properties:
        id:
          type: string
          description: The transaction reference
        etag:
          type: string
        kind:
          type: string
        is_paid:
          type: boolean
          description: Indicates if this transaction has been paid
        is_dca:
          type: boolean
        due_date:
          type: string
          description: When this payment of this transaction is due by
          format: date
        made_up_date:
          type: string
          description: Cross reference the made up date of the accounts that were
            late being filed
          format: date
        transaction_date:
          type: string
          format: date
        original_amount:
          type: number
          description: The original amount for this transaction
          format: float
        outstanding:
          type: number
          description: "The amount outstanding. If this is less than the original\
            \ amount, then it indicates this has been part paid"
          format: float
        type:
          type: string
          enum:
            - penalty
            - other
        reason:
          type: string
          example: Late filing of accounts
        payable_status:
          type: string
          enum:
            - OPEN
            - CLOSED
            - CLOSED_PENDING_ALLOCATION
            - CLOSED_INSTALMENT_PLAN
            - CLOSED_PEN_STRATEGY_EXHAUSTED
            - DISABLED
    PaymentDetails:
      title: PaymentDetails
      required:
        - company_number
        - etag
        - items
        - kind
        - links
        - status
      type: object
      properties:
        description:
          type: string
          description: The Description of the Resource
          readOnly: true
        etag:
          type: string
          description: The ETag of the resource
        kind:
          type: string
          description: The type of resource.
          enum:
            - payment-details#payment-details
        links:
          type: object
          properties: {}
          description: A set of URLs related to the resource.
        paid_at:
          type: string
          description: The date and time the payment was taken for this resource.
          format: date-time
          readOnly: true
        payment_reference:
          type: string
          description: The id of the payment session that paid for this resource.
          readOnly: true
        items:
          type: array
          description: The cost items to be paid for
          items:
            $ref: '#/components/schemas/cost'
        status:
          type: string
          description: The status of the payment.
          enum:
            - paid
            - failed
            - pending
        company_number:
          type: string
          description: The Company Number payment metadata.
          readOnly: true
    paymentDetailsLinks:
      title: links
      required:
        - resource
        - self
      type: object
      properties:
        self:
          type: string
          description: The URL of the the payment session.
        resource:
          type: string
          description: The URL of the data resource that is being paid for.
    cost:
      title: cost
      required:
        - amount
        - available_payment_methods
        - class_of_payment
        - description
        - description_identifier
        - description_values
        - kind
        - product_type
        - resource_kind
      type: object
      properties:
        description:
          type: string
          description: The english description of the cost item. Derived from `description_identifier`
            and `description_values`.
        description_identifier:
          type: string
          description: The enumeration identifier of the description.
          enum:
            - late-filing-penalty
            - penalty-sanctions
        description_values:
          type: object
          additionalProperties:
            type: string
            description: key / value string pair.
            readOnly: true
        amount:
          type: string
          description: "The cost item amount, in GBP."
        available_payment_methods:
          type: array
          description: The payment methods that are allowed for the cost item.
          items:
            type: string
            enum:
              - credit-card
        class_of_payment:
          type: array
          description: The class of payment. Items of different `class_of_payment`
            cannot be paid for together.
          items:
            type: string
            enum:
              - penalty-lfp
              - penalty-sanctions
        kind:
          type: string
          description: The type of resource.
          enum:
            - cost#cost
        resource_kind:
          type: string
          description: The `kind` of the resource this cost represents
          enum:
            - late-filing-penalty#late-filing-penalty
            - penalty#sanctions
        product_type:
          type: string
          description: The product type of the cost. <br /><br /> For enumeration
            descriptions see <code>product_type</code> section in the <a href='https://github.com/companieshouse/api-enumerations/blob/master/payments.yaml'
            rel='external'/>enumeration mappings</a>.<br /><br />
          enum:
            - late-filing-penalty
            - penalty-sanctions
    PenaltyReferenceType:
      type: object
      properties:
        enabled_from:
          type: string
          format: date-time
        enabled_to:
          type: string
          format: date-time
        reason:
          type: string
        reference_regex:
          type: string
        reference_starts_with:
          type: string
        reference_type:
          type: string
    ConfigResponse:
      type: object
      properties:
        type:
          type: string
          example: "payablePenaltiesConfig"
        data:
          oneOf:
            - $ref: '#/components/schemas/PenaltyTypeConfig'
            - $ref: '#/components/schemas/PayablePenaltyConfig'
    PenaltyTypeConfig:
      type: object
      properties:
        TransactionType:
          type: string
          example: "1"
        TransactionSubtype:
          type: string
          example: "C1"
        Description:
          type: string
          example: "Late Filing Penalty"
        Disabled:
          type: boolean
          example: false
        Reason:
          type: string
          example: "Late filing of accounts"
    PayablePenaltyConfig:
      type: object
      properties:
        EmailSend:
          type: object
          properties:
            AppId:
              type: string
              example: "1"
            MessageType:
              type: string
              example: "payment-reminder"
        FinancePayment:
          type: object
          properties:
            CompanyCode:
              type: string
              example: "LFP"
            TransactionType:
              type: string
              example: "1"
        PaymentCost:
          type: object
          properties:
            ClassOfPayment:
              type: string
              example: "penalty-lfp"
            Description:
              type: string
              example: "Late Filing Penalty"
            DescriptionId:
              type: string
              example: "Late Filing Penalty"
        Penalty:
          type: object
          properties:
            Reason:
              type: string
              example: "Late filing of accounts"
            EnabledFrom:
              type: string
              format: date-time
              example: "2025-11-06T13:58:02Z"
            EnabledTo:
              type: string
              format: date-time
              example: "2025-11-06T14:58:02Z"
        Id:
          type: string
          example: "1"
        CreatedAt:
          type: string
          format: date-time
          example: "2025-11-06T13:58:02Z"
        CreatedBy:
          type: string
          example: "admin"
        UpdatedAt:
          type: string
          format: date-time
          example: "2025-11-06T13:58:02Z"
        UpdatedBy:
          type: string
          example: "admin"
